.nav-Container {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: #ce2829;
}

@media only screen and (max-width: 800px) {
  img {
    width: 50%;
  }
}
